{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">

    <article class="lil-but-cont">
        <div class="lil-but"><h3>/</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>\</h3></div>
    </article>
    <br><br>
    <h2>Welcome to the Visitor Info Form<h2>
    <br>
    <h3>
        This is the home page.
        <br><br>
        <em>Disclaimer:</em> 
        <br>
        Submitting the form does not save or distribute 
        your information to third parties. It is 
        strictly for project purposes only.
    <h3>
    <br><br>
    <article class="lil-but-cont">
        <div class="lil-but"><h3>\</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>-</h3></div>
        <div class="lil-but"><h3>/</h3></div>
    </article>

  </div>
{% endblock %}